
<h1>Login</h1>

<form autocomplete="off" action="" method='post'>
<div class="row">		
<table>
	<tr>
		<th>TeamName</th>
		<th>Password</th>
		<th>Login</th>
	</tr>
	<tr>
		<td><input  type="text" id='teamNameLogin' ></td>
		<td><input  type="password" id='TBPassword' ></td>
		<td>    <div id='TBlogin' class="button success">
    <span class='success'>Login</span>
  </div></td>
	</tr>
</table>
</div>
<div id="loginError"></div>


</form>
<br><hr>

<h6>Need an account??<a href="">Register</a></h6>




<br>
<br>
<hr><hr>
<h1>Register</h1>
<table>
	<tr>
		<th>TeamName</th>
		<th>Password</th>
		<th>Register</th>
	</tr>
	<tr>
		<td><input  type="text" id='registerTeamName' required ></td>
		<td><input type="password" id='registerTBPassword' required></td>
		<td>    <div class="button warning">
    <span id='TBRegister'class='success'>Register</span>
  </div></td>
	</tr>
</table>

<div id="registerError"></div>

<br><hr>

<h6>Alreadt have an account??<a href="?page=register">Login</a></h6>

<script>
socket.on('loginError', function(data){
	$('#loginError').html(data)
})
socket.on('registerError', function(data){
	$('#registerError').html(data)
})
	$('#TBlogin').on('click', function(){
		console.log('Who is going to lgoin')
		var teamName = $('#teamNameLogin').val()
		var TBPassword = $('#TBPassword').val()

		 TBlogin(teamName, TBPassword)
		
	})
	$('#TBRegister').on('click', function(){
		console.log('Who is going to Register')
		var teamName = $('#registerTeamName').val()
		var TBPassword = $('#registerTBPassword').val()

		 TBRegister(teamName, TBPassword)
		
	})


var dataObject={};
function TBlogin(username, password){
	var dataObject = {
		username : username,
		password : password
	}
	socket.emit('TBlogin',dataObject)
	return dataObject
}
function TBRegister(username, password){
	var dataObject = {
		username : username,
		password : password
	}
	socket.emit('TBRegister',dataObject)
	return dataObject
}



</script>